# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore DS_Store (for macOS users)
.DS_Store

# Ignore build artifacts
dist/
build/

# Ignore environment variable files
.env

# Ignore IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore generated assets and files
*.zip
*.tar.gz

# Ignore temporary files
*.tmp
*.temp

# Ignore images (assuming you don't want to track images)
*.png
*.jpg
*.jpeg
*.gif
*.svg

